@charset "utf-8";
/* For the navbar */
div.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;}
div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d84a8;}
div.navbar li {
    float: left;}
div.navbar a:link {
    display: inline-block;
    color: White;
    text-align: center;
    padding: 2em 6em;
    text-decoration: none;}
div.navbar a:hover {
    background-color: #46cdcf;}
div.navbar a.active {
	background-color: #48466d;}