@charset "utf-8";
.pp2{
	display:none;
	z-index:1;
}
#pb2_1{
	position: absolute;
	top:125%;
	left:0;
	width:100%;
	height:5%;
	background-color:#558C89;	
}
#pb2_2{
	position: absolute;
	top:100%;
	left:0;
	width:100%;
	height:25%;
	background-color:#74AFAD;	
}
#pb2_3{
	position: absolute;
	top:190%;
	left:0;
	width:100%;
	height:10%;
	background-color:#D9853B;	
}
#pb2_4{
	position: absolute;
	top:130%;
	left:0;
	width:100%;
	height:60%;
	background-color:#ECECEA;	
}
#soundheader{
	position:absolute;
	top:105%;
	left:1em;
	right:4em;
	color:white;
	letter-spacing:.2em;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:2.5em;
}
#soundcloud{
	position:absolute;
	top:130%;
	left:0em;
	width:70%;
	height:60%;
}
#soundstatement{
	position:absolute;
	top:150%;
	left:75%;
	right:5%;
}
#soundstatement:hover{
	color:#C63D0F;
}